#match {
    background-color: rgba(255, 255, 255, 0.5); 
    border: 2px solid #333;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 0 auto; 
    margin-top: 35px; 
}

input {
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

.se {
    padding: 5px;
    width: 100px;
}