body{
    background-color: lightgreen;
}

#scorebox {
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
}

.board {
    background-color: lightcoral;
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
    width: 200px;
}

.button {
    border: 1px solid black;
    padding: 15px;
    width: 50px;
    text-align: center;
    font-size: 25px;
}

span{
    display:inline-block;
    vertical-align: top;
}

h1{
    display:inline;
    margin:0; 
}

#batscore{
    background-color: orange;
    border: 2px solid black;
    height: 30px;
    width: 150px;
    padding: 5px;
    padding-top: 15px;
    font-size: 17px;
}

#bteam{
    background-color: yellow;
    border: 2px solid black;
    height: 30px;
    width: 60px;
    padding: 5px 15px 5px 15px;
}